<div class="home-callout text-center container-fluid">
  <div class="outer-headout">
    <h1>Welcome to Musical</h1>
  </div>
  <div class="inner-headout"
    <h3>Where singers can meet producers</h3>
  </div>
</div>

<div class="container home-sign_up-links">
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <h3 class="text-center"> Basic plan</h3>
        <%= link_to "Sign up with Basic", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h3 class="text-center"> Pro plan</h3>
        <%= link_to "Sign up with Pro", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>
      </div>
    </div>
  </div>
</div>